[alias]
  s = "!git status"
  amend = "!git commit --amend --no-edit"
  cleanb = "!git fetch --prune && for b in $(git branch --format='%(refname:short)'); do git show-ref --verify --quiet refs/remotes/origin/$b || git branch -D $b; done"
  filelog = "!f() { git log --pretty=format:'%h %s' -- \"$1\"; }; f"

[init]
  defaultBranch = master

[push]
  autoSetupRemote = true

[github]
  user = hillbillydev

[core]
  pager = delta
  editor = zed --wait
  excludesfile = ~/.gitignore_global

[color]
  ui = auto

[commit]
  gpgsign = true

[gpg]
  program = gpg

[user]
  name = {{ .fullname | quote }}
  email = {{ .email | quote }}
  signingkey = {{ .signingkey | quote }}

[ghq]
  root = {{ .chezmoi.homeDir }}/projects
