[alias]
  amend = "!git commit --amend --no-edit"

[init]
  defaultBranch = master

[github]
  user = hillbillydev

[core]
  pager = delta

[commit]
  gpgsign = true

[gpg]
  program = gpg

[user]
  name = {{ .fullname | quote }}
  email = {{ .email | quote }}
  signingkey = {{ .signingkey | quote }}
