[init]
    defaultBranch = master

[user]
    name = Marcus Karlsson
    email = {{ .email }}
    signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519

[github]
    user = {{ .githubUser }}

[core]
    editor = zed --wait

[merge]
    conflictStyle = zdiff3

[diff]
    colorMoved = default

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers

[commit]
    gpgsign = true
