tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "go"
brew "fish"
brew "fnm"
brew "watchman"
brew "gnupg"
brew "pinentry-mac"
brew "awscli"
brew "mas"
brew "chezmoi"
brew "ripgrep"
brew "eza"
brew "bat"
brew "zoxide"
brew "fzf"
brew "fd"
brew "starship"
brew "git-delta"
brew "gh"
brew "tldr"

mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Things", id: 904280696

cask "font-zed-mono-nerd-font"
cask "ghostty"
cask "discord"
cask "google-chrome"
cask "docker"
cask "rectangle"
{{ if eq .chezmoi.hostname "NZMB-FR9FWQMWT2" }}
cask "camo-studio"
{{ end }}
