tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "go"
brew "fish"
brew "fnm"
brew "watchman"
brew "gnupg"
brew "pinentry-mac"
brew "awscli"
brew "chezmoi"
brew "ripgrep"
brew "eza"
brew "bat"
brew "zoxide"
brew "fzf"
brew "fd"
brew "starship"

cask "ghostty"
cask "discord"
cask "google-chrome"
cask "docker"
cask "rectangle"

cask "font-zed-mono-nerd-font"
