tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "go"
brew "fish"
brew "fnm"
brew "watchman"
brew "gnupg"
brew "pinentry-mac"
brew "awscli"
brew "chezmoi"

cask "ghostty"
cask "discord"
cask "google-chrome"
cask "docker"
cask "rectangle"

cask "font-zed-mono-nerd-font"
